.points {
    background-color: darkgray;
    text-align: center;
    border-radius: 5px;
}

.points .value {
    font-size: 50px;
}

.points .label {
    font-size: 20px
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 12px;
}

ul li {
    display: inline-block;
    margin-right: 14px;
}

a {
    text-decoration: none;
}